<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="53797CamiRodriguez.Octopus" Version="1.1.0.0" Publisher="CN=31E56C50-03A8-416C-8A72-A62713542F86" />
  <Properties>
    <DisplayName>Octopus</DisplayName>
    <PublisherDisplayName>Cami Rodriguez</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="Default.html">
      <m2:VisualElements DisplayName="Octopus" Description="Octopus is a platform to unify and simplify the development of systems oriented to Internet of Things with HTML5 technologies for any Arduino and Netduino devices." ForegroundText="light" BackgroundColor="#ffffff" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#ffffff" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>