<section class="w-f scrollable">
    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2">
        
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
            <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Start</div>
            <ul class="nav nav-main" data-ride="collapse">
                <!--<li class="active"> 
                    <a href="index.html" class="auto"> 
                        <i class="i i-home icon"> </i> 
                        <span class="font-bold">Home</span> 
                    </a> 
                </li>-->
                <li class ="active">
                    <a href="#" onclick="javascript: Octopus.NavigateTo('apps')" class="auto">
                        <i class="i i-grid icon"> </i>
                        <span class="font-bold">Projects</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: Octopus.NavigateTo('store')" class="auto">
                        <i class="i i-cart icon"> </i>
                        <span class="font-bold">Store</span>
                    </a>
                </li>
                <li>
                    <a href="http://octopuscorporation.github.io/Learn" class="auto">
                        <i class="i i-bulb icon"> </i>
                        <span class="font-bold">Learn</span>
                    </a>
                </li>
                <li>
                    <a href="http://octopuscorporation.github.io/" class="auto">
                        <i class="fa fa-globe"> </i>
                        <span class="font-bold">Website project</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/OctopusCorporation" class="auto">
                        <i class="fa fa-github"> </i>
                        <span class="font-bold">Fork us</span>
                    </a>
                </li>
                <!--<li>
                    <a href="#" class="auto"> 
                        <span class="pull-right text-muted"> 
                            <i class="i i-circle-sm-o text"></i> 
                            <i class="i i-circle-sm text-active"></i> 
                        </span> 
                        <b class="badge bg-danger pull-right">4</b> 
                        <i class="i i-stack icon"> </i> 
                        <span class="font-bold">Layouts</span> 
                    </a>
                </li>-->
               
                
                
            </ul>
            <div class="line dk hidden-nav-xs"></div>
            <!--<div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Lables</div>
            <ul class="nav">
                <li> <a href="mail.html#work"> <i class="i i-circle-sm text-info-dk"></i> <span>Work space</span> </a> </li>
                <li> <a href="mail.html#social"> <i class="i i-circle-sm text-success-dk"></i> <span>Connection</span> </a> </li>
                <li> <a href="mail.html#projects"> <i class="i i-circle-sm text-danger-dk"></i> <span>Projects</span> </a> </li>
            </ul>
            <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Circles</div>
            <ul class="nav">
                <li> <a href="#"> <i class="i i-circle-sm-o text-success-lt"></i> <span>College</span> </a> </li>
                <li> <a href="#"> <i class="i i-circle-sm-o text-warning"></i> <span>Social</span> </a> </li>
            </ul>-->
        </nav>
        <!-- / nav -->
    </div>
</section>

<footer class="footer hidden-xs no-padder text-center-nav-xs">
    <a href="/Theme/modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
        <i class="i i-logout"></i>
    </a> <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
        <i class="i i-circleleft text"></i> <i class="i i-circleright text-active"></i>
    </a>
</footer>